<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Adminpanel</title>
</head>
<body>
    <div> 
        @Html.ActionLink("Menus bearbeiten", "MenuView", "Admin");
        @Html.ActionLink("Meals bearbeiten", "MealView", "Admin");
        @Html.ActionLink("Drinks bearbeiten", "DrinkView", "Admin");
    </div>
</body>
</html>
