:root {
    --light: #CAA472;
    --dark: #553f38;
    --border: black;
    --very-light: #e0c9ab;
    --hover-light: #6a4f46;
}


.navbar {
    background-color: var(--dark) !important;
    border-color: var(--black) !important;
}

body {
    background-color: var(--light) !important;
}

hr {
    border-color: var(--dark) !important;
}

a {
    color: var(--light) !important;
}

.dropdown-menu > li > a:hover {
    background-color: var(--hover-light) !important;
}

a.page-link {
    background-color: var(--dark) !important;
    border-color: var(--border) !important;
}

#cartbtn {
    background-color: var(--dark) !important;
    color: var(--light) !important;
    border-color: var(--light) !important;
}

.dot {
    background-color: var(--very-light) !important;
}

.active, dot:hover {
    background-color: var(--dark) !important;
}

.dropdown-menu {
    background-color: var(--dark) !important;
    border-color: var(--border) !important;
}

.table{
    margin-bottom: 0px !important;
}

.viewtd {
    border-color: var(--border) !important;
}

.carttd {
    color: var(--light) !important;
    border-color: var(--dark) !important;
}

.form-control {
    background-color: var(--dark) !important;
    border-color: var(--border) !important;
    color: var(--light) !important;
}

.btn-default {
    background-color: var(--dark) !important;
    border-color: var(--border) !important;
    color: var(--light) !important;
}